*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #212121;
    color: yellow;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words{
    font-size: 50px;
    height: 30%;
    width: 80%;
    /* background-color: #2f2f2f; */
    padding: 2%;
    border-radius: 40%;
}

#input{
    height: 50px;
    width: 600px;
    text-align: center;
    font-size: 20px;
}

